@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #275efe;
  --color-headline: #3f4656;
  --color-text: #99a3ba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::selection {
    background-color: #85A043;
    color: whitesmoke;
}

body {
    background-color: #59997594;
    overflow-y: hidden;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    border-bottom: 1px solid #fff;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

header ul li {
    position: relative;
    transition: transform 0.3s ease;
}

header ul li a:not(:has(.logo))::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #217074;
    border-radius: 50px;
    transition: width 0.3s ease, opacity 0.1s 0.1s ease;
    opacity: 0;
}

header ul li a:not(:has(.logo))::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #217074;
    border-radius: 50px;
    transition: width 0.3s ease, opacity 0.1s 0.1s ease;
    opacity: 0;
}

header ul li a:hover::after,
header ul li a:hover::before {
    width: 100%;
    transition: width 0.3s ease, opacity 0.1s ease;
    opacity: 1;
}

header ul li a:hover {
    letter-spacing: 0.1rem;
    color: #217074;
}

header ul:has(:last-child a:hover) :nth-child(2) {
    transition: transform 0.3s ease;
    transform: translateX(0.35rem)
}

header ul li a {
    position: relative;
    font-family: "Playpen Sans", sans-serif;
    text-decoration: none;
    color: #1A512E;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

header .logo {
    user-select: none;
    width: 50px;
    height: auto;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 55dvw;
    height: 100dvh;
}

main .filters {
    width: 45dvw;
}

main .filters h1 {
    font-family: "Playpen Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #1A512E;
    text-align: center;
}

main .filters .range-values {
    font-family: "Playpen Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1A512E;
}

.slider-container {
    width: 300px;
    position: relative;
}

.range-values {
    margin-bottom: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    pointer-events: none;
    /* height: 0; */
    background: transparent;
    outline: none;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
    cursor: pointer;
}

.slider-track {
    position: absolute;
    height: 5px;
    background: #ddd;
    top: 6px;
    width: 100%;
    z-index: -1;
}

.slider-fill {
    position: absolute;
    height: 5px;
    background: #4CAF50;
    top: 6px;
    z-index: -1;
}

main .catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    gap: 20px;
    padding: 0px 20px 20px 20px;
    border-radius: 90px 0 0 90px;
    overflow: auto;
    overflow-x: hidden;
}

main .catalog::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

main .catalog::-webkit-scrollbar-thumb {
    background-color: #217074;
    border-radius: 10px;
}

main .catalog .container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55dvw;
    background-color: #ffffffb5;
    padding: 15px;
    z-index: 1;
}

main .catalog .container .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #217074;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px 10px;
    background-color: #fff;
}

main .catalog .container .input input {
    font-size: 1.1rem;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

main .catalog .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

main .catalog .cards-container .card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: #59997594;
    width: 100%;
    min-height: 300px;
    transition: all 0.3s ease;
    transform: scale(0);
    animation: forwards showCard 0.5s ease;
}

@keyframes showCard {
    0% {
        display: flex;
        transform: scale(0);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

main .catalog .cards-container .card.hidden {
    animation: forwards hideCard 0.5s 0s ease;
}

@keyframes hideCard {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(0);
        display: none;
    }
}

main .catalog .cards-container .card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

main .catalog .cards-container .card img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

main .catalog .cards-container .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

main .catalog .cards-container .card .card-body .card-title {
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
}

main .catalog .cards-container .card .card-body .card-text {
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: #1A512E;
    word-break: break-all;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

main .catalog .cards-container .card .card-body .card-price {
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 50px 0px;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .social-media a svg {
    width: 100px;
    height: auto;
}

footer .social-media a {
    transition: all 0.3s ease;
}

footer .social-media a:hover {
    transform: scale(1.1);
    filter: invert(1);
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

footer .links a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

footer .links a:hover {
    color: #85A043;
}

footer p {
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    font-size: 1rem;
}