@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::selection {
    background-color: #85A043;
    color: whitesmoke;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    border-bottom: 1px solid #fff;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

header ul li {
    position: relative;
    transition: transform 0.3s ease;
}

header ul li a:not(:has(.logo))::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #217074;
    border-radius: 50px;
    transition: width 0.3s ease, opacity 0.1s 0.1s ease;
    opacity: 0;
}

header ul li a:not(:has(.logo))::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #217074;
    border-radius: 50px;
    transition: width 0.3s ease, opacity 0.1s 0.1s ease;
    opacity: 0;
}

header ul li a:hover::after,
header ul li a:hover::before {
    width: 100%;
    transition: width 0.3s ease, opacity 0.1s ease;
    opacity: 1;
}

header ul li a:hover {
    letter-spacing: 0.1rem;
    color: #217074;
}

header ul li a {
    position: relative;
    font-family: "Playpen Sans", sans-serif;
    text-decoration: none;
    color: #1A512E;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

header .logo {
    user-select: none;
    width: 50px;
    height: auto;
}

main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    background-color: #59997594;
}

main .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45%;
    color: white;
    font-family: "Playpen Sans", sans-serif;
    padding: 15px;
    gap: 20px;
}

main .content p {
    font-size: 2.2rem;
    text-align: center;
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
}

main .content .button {
    user-select: none;
    background-color: #85A043;
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    border: 2px solid #85A043;
    cursor: pointer;
    box-shadow: #1A512E 0px 5px 0px;
    transition: all 0.3s ease;
}

main .content .button:hover {
    background-color: transparent;
    box-shadow: #1A512E 0px 0px 0px;
    transform: translateY(5px);
    color: #85A043;
}

main .content .button:active {
    box-shadow: #85A043 0px 0px 5px 1px inset;
    transform: scale(0.95) translateY(5px);
}

main .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 90px 0 0 90px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: #59997594;
    padding: 50px 0px;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .social-media a svg {
    width: 100px;
    height: auto;
}

footer .social-media a {
    transition: all 0.3s ease;
}

footer .social-media a:hover {
    transform: scale(1.1);
    filter: invert(1);
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

footer .links a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

footer .links a:hover {
    color: #85A043;
}

footer p {
    font-family: "Playpen Sans", sans-serif;
    font-weight: 900;
    font-size: 1rem;
}