@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::selection {
    background-color: #85A043;
    color: whitesmoke;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #F0F0F0;
    color: #333;
    font-family: "Playpen Sans", sans-serif;
    line-height: 1.6;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Playpen Sans", sans-serif;
    color: #333;
    font-size: 5rem;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
    color: #555;
    margin: 20px 0;
}

a {
    position: relative;
    font-size: 1.2rem;
    color: #85A043;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

a::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: #85A043;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}